@import './variables';
@import './fonts';
@import './normalize';
@import './components/all';
body {
    background-color: #fff;
}

.wrapper {
    width: calc(100vw - 100px);
    height: 100%;
    background-color: #fff;
    margin: 50px auto;
    border-radius: 10px;
    max-width: 1400px;
  }
  
.container {
    width: 90%;
    margin: 0 auto;
}
  .content {
    padding: 40px 0;
    &__title {
        margin: 35px 0;
      }
      &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
  }
